body {
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: 20px;
  font-family: Inter, Avenir, Helvetica, Arial, Helvetica, sans-serif;
  color: black;
  
}

.App {
  padding: 40px;
  margin: 10px 20px;
}


.flip-card{ /* outer container */
  
  margin: 20px auto; /* sets top and bottom margin to 20, and sets left and right margin to auto */
  width: 450px;
  height: 190px;
  cursor: pointer;
  text-align: left;
  font-family: monospace;
  perspective: 1000px; /* for 3D effect */
  overflow: visible;
  

}


.flip-card-front { /* the front face (question) */
  transform: rotateX(0deg);
  width: 100%;
  height: 100%;
  background-color: rgb(246, 245, 245);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  white-space: prewrap;
}

/* This container is needed to position the front and back side */
.flip-card-inner { /* the part that actually rotates (holds both sides) */
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}




/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flipped {
  transform: rotateX(180deg);

}



.flip-card-back { /* the back face (answer), starts pre-rotated 180deg so it's hidden */
  transform: rotateX(180deg);
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(246, 245, 245);
  border: 1px solid black;
  
  
}

button {
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  border: none;
  background-color: rgb(255, 123, 123);
  

}

button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}